/** This is the main stylesheet for the sass compiler, all imports should stem from this initial page. It contains the universal styles of the site, the imports and various other items. */
/** The menu is technically the header of the site, it contains the styles for the drop down of the Search Bar. */
header.menu { width: 100%; position: relative; z-index: 10; }

header.menu div.menu-container { width: 100%; background-color: #000000; padding: 0 20px; text-align: left; }

header.menu div.menu-container div.menu-holder { position: relative; width: 100%; max-width: 1280px; margin: 0 auto; }

header.menu div.menu-container h1 { font-family: Arial, Helvetica, sans-serif; font-size: 24px; line-height: 70px; color: #ffffff; text-align: left; display: inline-block; }

header.menu div.menu-container nav { display: inline-block; margin-left: 60px; }

header.menu div.menu-container nav i { color: color-light; font-size: 30px; line-height: 70px; }

header.menu div.menu-container nav i.search { position: absolute; color: #ffffff; right: 10px; top: 0; }

header.menu div.menu-container nav a.nav-item { font-family: Arial, Helvetica, sans-serif; font-size: 17px; line-height: 70px; text-transform: uppercase; text-decoration: none; white-space: nowrap; border-bottom: 1px solid transparent; color: #ffffff; margin-right: 20px; }

header.menu div.search-container { position: absolute; background-color: #ffffff; z-index: 20; -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); width: 100%; padding: 5px; background-color: #ffffff; border-bottom: 1px solid #cccccc; display: none; }

header.menu div.search-container.showing { display: block; }

header.menu div.search-container input[type="text"] { min-width: 100%; font-size: 36px; line-height: 50px; border: 1px solid #f7f6f6; padding: 0 10px; border-radius: 7px; }

header.menu div.search-container i.close { position: absolute; right: 10px; top: 5px; font-size: 36px; line-height: 50px; color: dimgray; }

/** This is the central home page */
section#home { position: absolute; width: 100%; height: 100%; top: 0; left: 0; padding: 100px 20px 0; background-image: url("/img/header.jpg"); background-size: cover; background-repeat: no-repeat; }

section#home div.content { max-width: 1280px; margin: 0 auto; color: #ffffff; }

header.product-container { background-color: #eeeeee; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; max-width: 100vw; overflow-x: auto; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.loading { padding: 20px; background-color: #000000; border-radius: 7px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-weight: bold; color: #ffffff; font-size: 1.2em; }

header.product { -webkit-box-shadow: 0px -1px 11px 1px #d9d5d9; box-shadow: 0px -1px 11px 1px #d9d5d9; background-color: #ffffff; width: 350px; padding: 20px; border: 1px solid #eeeeee; border-radius: 7px; margin: 10px; }

header.product div.image-container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; background-color: #f7f6f6; padding: 15px; border-radius: 7px; }

header.product div.image-container img { width: 150px; height: 150px; }

header.product div.name-container span.name { display: block; margin: 15px 10px 45px 0; font-size: 1.2em; font-weight: bold; color: dimgray; height: 2.2em; }

header.product div.name-container div.tags-container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }

header.product div.name-container div.tags-container span.tag { margin: 15px 5px 0 0; font-size: 0.8em; padding: 7px; background-color: #f7f6f6; color: dimgray; font-weight: bold; border-radius: 7px; }

html, html * { -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0; margin: 0; }

html, body { width: 100%; height: 100%; }

main { width: 100%; height: 100%; display: block; position: relative; }

main * { -webkit-font-smoothing: antialiased; }

main a { -webkit-transition: opacity 0.5s; transition: opacity 0.5s; }

main a:hover { opacity: 0.7; }

main a:visited { color: inherit; }

main div.inner { width: 100%; height: auto; background-color: #eb4034; }

/*# sourceMappingURL=main.css.map */
