/**
 * The menu is technically the header of the site, it contains the styles for the drop down of the Search Bar.
 *
 */

header.menu {
  // ...
  width: 100%;
  position: relative;
  z-index: 10;

  div.menu-container {
    width: 100%;
    background-color: $color-dark;
    padding: 0 20px;
    text-align: left;

    div.menu-holder {
      position: relative;
      width: 100%;
      max-width: $siteWidth;
      margin: 0 auto;
    }

    h1 {
      font-family: $font;
      font-size: 24px;
      line-height: 70px;
      color: $color-light;
      text-align: left;
      display: inline-block;
    }
    nav {
      display: inline-block;
      margin-left: 60px;

      i {
        color: color-light;
        font-size: 30px;
        line-height: 70px;
      }
      i.search {
        position: absolute;
        color: $color-light;
        right: 10px;
        top: 0;
      }

      a.nav-item {
        font-family: $font;
        font-size: 17px;
        line-height: 70px;
        text-transform: uppercase;
        text-decoration: none;
        white-space: nowrap;
        border-bottom: 1px solid transparent;
        color: $color-light;
        margin-right: 20px;
      }
    }
  }

  div.search-container {
    position: absolute;
    background-color: $color-light;
    z-index: 20;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 5px;
    background-color: $color-light;
    border-bottom: 1px solid $color-gray-light;
    display: none;
    &.showing {
      display: block;
    }

    input[type="text"] {
      min-width: 100%;
      font-size: 36px;
      line-height: 50px;
      border: 1px solid $color-gray-lighter;
      padding: 0 10px;
      border-radius: 7px;
    }

    i.close {
      position: absolute;
      right: 10px;
      top: 5px;
      font-size: 36px;
      line-height: 50px;
      color: $color-gray-dark;
    }
  }
}
