header.product {
  -webkit-box-shadow: 0px -1px 11px 1px $color-shadow-1;
  -moz-box-shadow: 0px -1px 11px 1px $color-shadow-1;
  box-shadow: 0px -1px 11px 1px $color-shadow-1;
  background-color: $color-light;
  width: 350px;
  padding: 20px;
  border: 1px solid $color-bg;
  border-radius: 7px;
  margin: 10px;
  div.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-gray-lighter;
    padding: 15px;
    border-radius: 7px;
    img {
      width: 150px;
      height: 150px;
    }
  }
  div.name-container {
    span.name {
      display: block;
      margin: 15px 10px 45px 0;
      font-size: 1.2em;
      font-weight: bold;
      color: $color-gray-dark;
      height: 2.2em;
    }

    div.tags-container {
      display: flex;
      flex-direction: row;
      span.tag {
        margin: 15px 5px 0 0;
        font-size: 0.8em;
        padding: 7px;
        background-color: $color-gray-lighter;
        color: $color-gray-dark;
        font-weight: bold;
        border-radius: 7px;
      }
    }
  }
}
