header.product-container {
  background-color: $color-bg;
  display: flex;
  flex-direction: row;
  max-width: 100vw;
  overflow-x: auto;
  display: flex;
  justify-content: space-between;
}

.loading {
  padding: 20px;
  background-color: $color-dark;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: $color-light;
  font-size: 1.2em;
}
