$siteWidth: 1280px;
$font: Arial, Helvetica, sans-serif;
$color-light: #ffffff;
$color-dark: #000000;
$color-gray-light: #cccccc;
$color-gray-lighter: #f7f6f6;
$color-gray-dark: dimgray;
$color-bg: #eeeeee;
$color-shadow-1: #d9d5d9;
$color-general-full-containers: #eb4034;
